@import "./style/variables.scss";
/* Main Page Resource */

body {
  padding: 5px 5px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  opacity: .8;
  color: $primary-color;
}

hr {
  height: 0;
  box-sizing: content-box;
}

p {
  font-size: .9rem;
  padding: 5px 0;
}

h1 h2 h3 {
  margin: 0;
  padding: 1em 0;
}

img {
  width: 100%;
  padding: 20px 0;
}

ul {
  padding: 0 20px;
}

ul li {
  padding: 0 10px;
  font-size: .8em;
}

a {
  color: #5c6bc0;
}

a:hover, a:visited {
  color: #26418f;
}

em {
  font-size: .85rem;
}

section {
  padding: 50px 0;
}

section a {
  font-weight: bold;
}

section li {
  margin-bottom: calc(1.5rem / 2);
}

/* Navigation */
@mixin nav-burger {
  position: aboslute;
  padding: 5px;
  background: rgba(255,255,255,0.9);
  display: inline-block;
  border: 1px solid transparent;
  z-index: 5;
}

@mixin nav-toggle {
  display: block;
  margin: 2.5px 0px;
  width: 16px;
  height: 3px;
  background: $primary-color;
}

@mixin nav-dropdown {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid rgb(220,220,220);
  font-size: 16px;
  text-align: center;
  width: 130px;
  height: auto;
}

@mixin nav-dropdown-link {
  display: block;
  padding: 5px 15px;
  color: inherit;
  text-decoration: none;
}

/* Site Content */
@mixin content-section {
  padding: 40px 0;
  border-bottom: 1px solid #eee;
  background: $content-bg-color;
}

@mixin jmk-content {
  padding: 15px 0;
  margin: 0 auto;
  max-width: 750px;
}

@mixin blockquote {
  border-left: 3px solid rgba(0,0,0,.84);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-left: 5px;
  font-style: italic;
  font-size: .85rem;
}

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
